<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%-include("partials/bsLink")%>
  </head>
  <body>
    <div class="container"><%-include("partials/NavBar")%></div>

    <div class="container">
      <h1>Estas en Admin</h1>
      <a href="/panel/admin/new" class="btn btn-success">Nuevo</a>
    </div>
    <div class="container">
      <table class="table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col" class="text-center">Title</th>
            <th scope="col" class="text-center">Content</th>
            <th scope="col" class="text-center">Image</th>
            <th scope="col" class="text-center">Created at</th>
            <th scope="col" class="text-center">Author</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <!-- js incriptado, sacar el "/" de </%:-->

        <tbody>
          <tr>
            <% let count=0 %><%for(let article of articles){ count++%> <%if (count >= 5) {%> <%
            break;%><%} else {%>

            <thead class="table">
              <th><%=article.id%></th>
              <td><p><%=article.title%></p></td>
              <td><p><%=article.content%></p></td>
              <td><img src="<%=article.img%>" alt="imagen" /></td>
              <td><p><%=article.createdAt%></p></td>
              <td>
                <p><%=article.user.dataValues.firstname+" "+article.user.dataValues.lastname%></p>
              </td>
              <td>
                <div class="text-center">
                  <a href="/panel/admin/editar/<%=article.id%>" class="btn btn-primary">Editar</a>
                </div>
                <div class="text-center">
                  <a
                    type="button"
                    href="/panel/admin/eliminar/<%=article.id%>"
                    class="btn btn-danger"
                    name="delete"
                    id="delete"
                    >Eliminar
                  </a>
                </div>
              </td>
            </thead>

            <%}%> <%}%>
          </tr>
        </tbody>
      </table>
    </div>
    <%-include("partials/footer")%> <%-include("partials/bsscript")%>
  </body>
</html>
