<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%-include("partial/bsLink")%>
  </head>
  <body>
    <div class="container"><%-include("partial/NavBar")%></div>

    <div class="container">
      <h1>Estas en Admin</h1>
      <a href="#" class="btn btn-success">Nuevo</a>
    </div>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Image</th>
            <th scope="col">Created at</th>
            <th scope="col">Author</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <!-- js incriptado, sacar el "/" de </%:-->

        <tbody>
          <tr>
            <%for(let article of articles){%>
            <thead>
              <th scope="row"><%=article.id%></th>
              <td><p><%=article.title%></p></td>
              <td><p><%=article.content%></p></td>
              <td><img src="<%=article.img%>" alt="imagen" /></td>
              <td><p><%=article.createdAt%></p></td>
              <td><p><%=article.author%>Author name</p></td>
              <td>
                <a href="/usuarios/editar/<%=article.id%>" class="btn btn-primary">Editar</a
                ><a
                  type="button"
                  href="/usuarios/eliminar/<%=article.id%>"
                  class="btn btn-danger"
                  name="delete"
                  id="delete"
                >
                  Eliminar
                </a>
              </td>
            </thead>
            <%}%>
          </tr>
        </tbody>
      </table>
    </div>
    <%-include("partial/footer")%> <%-include("partial/bsscript")%>
  </body>
</html>
