<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
    />
    <%-include("partials/bsLink")%>
  </head>
  <body>
    <div class="container">
      <%-include("partials/NavBar")%>

      <div class="d-flex justify-content-between">
        <div class="col-6"><h1>Estas en Admin</h1></div>
        <div class="col-1"><a href="/panel/admin/new" class="btn btn-success">Nuevo</a></div>
      </div>
    </div>
    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr class="table-secondary">
              <th scope="col">Id</th>
              <th scope="col" class="text-center">Title</th>
              <th scope="col" class="text-center">Content</th>
              <th scope="col" class="text-center">Image</th>
              <th scope="col" class="text-center">Created at</th>
              <th scope="col" class="text-center">Author</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
          <!-- js incriptado, sacar el "/" de </%:-->

          <tbody>
            <%for(let article of articles){%>
            <tr class="align-middle">
              <th><p><%=article.id%></p></th>
              <td>
                <p>
                  <a
                    class="text-reset text-decoration-none"
                    href="http://localhost:3000/articulos/<%=article.id%>"
                    ><%=article.title%></a
                  >
                </p>
              </td>
              <td>
                <div class="overflow-auto" style="height: 200px"><%=article.content%></div>
              </td>
              <td><img src="<%=article.img%>" alt="imagen" width="200" height="200" /></td>
              <!-- prettier-ignore -->
              <td><p><%=format(article.createdAt,"d/MM/yyyy HH:mm",{locale: es,})%></p></td>
              <td>
                <p><%=article.user.firstname+" "+article.user.lastname%></p>
              </td>
              <td>
                <div class="text-center pt-5">
                  <a href="/panel/admin/edit/<%=article.id%>" class="btn btn-primary">Editar</a>
                </div>
                <div class="text-center pt-5">
                  <a
                    onclick="askForDelete(<%=article.id%>)"
                    type="button"
                    href="/panel/admin/eliminar/<%=article.id%>"
                    class="btn btn-danger"
                    name="delete"
                    id="delete"
                    >Eliminar
                  </a>
                </div>
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>
    <%-include("partials/footer")%> <%-include("partials/bsscript")%>
    <%-include("partials/admin-alerts")%>
  </body>
</html>
