<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%-include("partials/bsLink")%>
  </head>
  <body>
    <div class="container">
      <%-include("partials/NavBar")%> <%-include("partials/bsscript")%>
      <div>
        <h1 class="text-center"><%=article.title%></h1>
        <div class="d-flex">
          <div class="col">
            <p><%=author.firstname%> <%=author.lastname%></p>
          </div>
          <div class="col text-center">
            <p><%=article.createdAt%></p>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-success ms-auto d-flex">Comment</button>
          </div>
        </div>
        <div><img src="#" alt="foto" /></div>

        <div>
          <p><%=article.text%></p>
        </div>
        <p><%=article.content%></p>
      </div>
    </div>
    <%-include("partials/footer")%>
  </body>
</html>
