<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articulo</title>
    <%-include("partials/bsLink")%>
  </head>
  <body>
    <div class="container">
      <%-include("partials/NavBar")%> <%-include("partials/bsscript")%>
      <div>
        <h1 class="text-center"><%=article.title%></h1>
        <div class="d-flex">
          <div class="col">
            <p><%=author.firstname%> <%=author.lastname%></p>
          </div>
          <div class="col text-center">
            <small><%=article.createdAt%></small>
          </div>
        </div>
        <div><img src="<%=article.img %>" alt="foto" /></div>

        <div>
          <p><%=article.text%></p>
        </div>
        <p><%=article.content%></p>
      </div>

      <form action="/articulos" method="post">
        <div>
          <label for="title"> <h5>Escriba su comentario</h5></label>
        </div>
        <div class="comment-write-input">
          <textarea name="text" rows="5" class="form-control"></textarea>
        </div>
        <div class="my-4">
          <button class="btn btn-success" type="submit">Publicar</button>
        </div>
      </form>
      <div>
        <h5 class="text-center">Comentarios</h5>
      </div>
      <div>
        <ul class="list-unstyled">
          <% for (const comment of article.comments){ %>
          <li>
            <div class="card mb-3">
              <div class="card-body">
                <p class="card-text">comment.content</p>
              </div>
            </div>
          </li>
          <%}%>
        </ul>
      </div>
    </div>
    <%-include("partials/footer")%>
  </body>
</html>
