<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include("partials/bsLink")%>
    <title>Editar</title>
  </head>
  <body>
    <div class="container">
      <%-include("partials/NavBar")%> <%-include("partials/bsscript")%>
      <h1 class="text-center">Edite su Blog a gusto</h1>
      <h4 class="text-center">Editara el blog con el id :</h4>
      <form action="/articulos/<%= article.id %>" method="post">
        <div class="">
          <label for="title" class="form-label">Nuevo Titulo</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="titulo"
            value="<%= article.title %>"
          />
        </div>
        <div>
          <label for="img" class="form-label">Nueva imagen (Link)</label>
          <input class="form-control" type="text" id="img" name="img" value="<%= article.img %>" />
        </div>
        <div class="">
          <label for="text" class="form-label">Texto</label>
          <textarea class="form-control" id="text" name="text" style="height: 100px">
          <%=article.content%>
        </textarea
          >
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success $teal-500 mt-4">Reescribir Blog</button>
        </div>
      </form>
    </div>
    <%-include("partials/footer")%>
  </body>
</html>
