<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%-include("partial/bsLink")%>
  </head>
  <body>
    <div class="container">
      <%-include("partial/NavBar")%>
      <h1>Estas en Home</h1>
    </div>
    <div class="container ms-auto me-auto" style="width: 18rem">
      <img src="../img/ian-dooley-DJ7bWa-Gwks-unsplash.jpg" class="card-img-top" alt="..." />
    </div>
    <div class="container ms-auto me-auto text-center">
      <!--esto es el js incriptado -->
      <div>
        <%for (const article of articles){%>
        <h2><%=article.title%></h2>
        <small>Creado por author el <%=article.createdAt%></small>
        <a href="/article/<%=article.id%>">ver más</a>
        <%}%>
      </div>
    </div>
    <%-include("partial/footer")%> <%-include("partial/bsscript")%>
  </body>
</html>
