<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/homeStyles.css" />
    <%-include("partials/bsLink")%>
  </head>
  <body>
    <div class="container">
      <%-include("partials/NavBar")%>

      <img src="../img/ian-dooley-DJ7bWa-Gwks-unsplash.jpg" class="img-fluid" alt="..." />
    </div>
    <div class="container d-flex align-items-center justify-content-center">
      <!--esto es el js incriptado -->
      <div>
        <ul class="list-unstyled">
          <%for (const article of articles){%>

          <li class="border-bottom border-top">
            <a class="text-reset text-decoration-none" href="/article/<%=article.id%>"
              ><h2><%=article.title%></h2></a
            >
            <small>Creado por author el <%=article.createdAt%></small>
          </li>

          <%}%>
        </ul>
      </div>
    </div>
    <%-include("partials/footer")%> <%-include("partials/bsscript")%>
  </body>
</html>
